{plugins, [pc]}.
{provider_hooks, [
	{pre, [
		{compile, {pc, compile}},
		{clean, {pc, clean}}
	]}
]}.
{port_env, [
	{"CFLAGS", "$CFLAGS -Werror -O2 -g -lsysevent -lnvpair -lcmdutils -lavl"},
	{"LDFLAGS", "$LDFLAGS"}
]}.
{port_specs, [
	{"priv/esysevent_nif.so", [
		"c_src/nif.c"
		]}
]}.
{erl_opts, [debug_info]}.
{deps, []}.
